<fieldset>
    <legend>Hybridauth demo</legend>

    &nbsp;<a href="/haexample/authenticatewith/twitter">Sign-in with Twitter</a><br />   
    &nbsp;<a href="/fekra/haexample/authenticatewith/facebook">Sign-in with Facebook</a><br />
    &nbsp;<a href="/haexample/authenticatewith/google">Sign-in with Google</a><br />  
</fieldset> 