@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body { font-family: 'Droid Arabic Kufi', serif!important; font-size:14px; }
/*RTL DIR*/
.top-bar, .social-bar { left:0; right:auto }
.logo, .footer-link, .social-ico a, .list-cat, .top-nav ul li, .nav-tabs > li, .side-box, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .sp-list li { float:right }
.home-filters, .welcome-box, .footer, .content { direction:rtl }
.contact-box p span { right:0; left:auto }
.nav ul li a, .font-a, .btn, .fekra-stat h4 { font-family: 'Droid Arabic Kufi', serif }
.heading { text-align:right; }
.members-nav h3 { font-size:18px; }
.dropdown .carat { left:10px; right:auto }
.members-nav .sub-nav a { padding-right:52px; }
.members-nav .sub-nav a span { display:none }
.members-nav li a { padding:5px 10px; font-size:13px }
/*AR STYLE*/
.contact-box p { padding-right:40px; padding-left:0 }
.nav ul li, .nav ul li:first-child { border-left: 1px solid #404040; border-right:0 }
.nav ul li:last-child { border:none }
.content-box { float:left }
.account-box, .top-bar li { float:right; }
.tabs-header ul li { float:right }
.tabs-header { margin-right:-1px; }
.tabs-header ul li a { font-size:12px; }
.fekra-stat h4 { font-size:25px; }
.table { direction:rtl; }
.form-section { font-size:15px; }
.form { direction:rtl; }
#flashMessage { font-family:Tahoma, Geneva, sans-serif; }
.right { float:left!important }
.left { float:right!important }
.table th { text-align:center}
.find-box{padding: 15px 115px 15px 20px;}
.find-box-img{ right:5px;}
