@font-face {
	font-family: 'fekra';
	src:url('fonts/fekra.eot');
	src:url('fonts/fekra.eot?#iefix') format('embedded-opentype'),
		url('fonts/fekra.ttf') format('truetype'),
		url('fonts/fekra.woff') format('woff'),
		url('fonts/fekra.svg#fekra') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fekra';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align:middle;
	margin:0 3px;
	font-size:18px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-arrow-left2:before {
	content: "\e604";
}
.icon-arrow-down2:before {
	content: "\e605";
}
.icon-arrow-up2:before {
	content: "\e606";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-chevron-up:before {
	content: "\e608";
}
.icon-chevron-down:before {
	content: "\e609";
}
.icon-chevron-left:before {
	content: "\e60a";
}
.icon-chevron-right:before {
	content: "\e60b";
}
.icon-plus-sign:before {
	content: "\e60c";
}
.icon-minus-sign:before {
	content: "\e60d";
}
.icon-remove-sign:before {
	content: "\e60e";
}
.icon-ok-sign:before {
	content: "\e60f";
}
.icon-question-sign:before {
	content: "\e610";
}
.icon-info-sign:before {
	content: "\e611";
}
.icon-remove-circle:before {
	content: "\e612";
}
.icon-ok-circle:before {
	content: "\e613";
}
.icon-plus:before {
	content: "\e614";
}
.icon-minus:before {
	content: "\e615";
}
.icon-heart:before {
	content: "\e616";
}
.icon-tumblr-sign:before {
	content: "\e617";
}
.icon-file-text:before {
	content: "\e618";
}
.icon-youtube:before {
	content: "\e619";
}
.icon-rss-sign:before {
	content: "\e61a";
}
.icon-check-sign:before {
	content: "\e61b";
}
.icon-edit-sign:before {
	content: "\e61c";
}
.icon-mobile:before {
	content: "\e61d";
}
.icon-angle-right:before {
	content: "\e61e";
}
.icon-angle-left:before {
	content: "\e61f";
}
.icon-angle-up:before {
	content: "\e620";
}
.icon-angle-down:before {
	content: "\e621";
}
.icon-google-plus-sign:before {
	content: "\e622";
}
.icon-sitemap:before {
	content: "\e623";
}
.icon-legal:before {
	content: "\e624";
}
.icon-bell-alt:before {
	content: "\e625";
}
.icon-cloud-upload:before {
	content: "\e626";
}
.icon-cloud-download:before {
	content: "\e627";
}
.icon-sort-up:before {
	content: "\e628";
}
.icon-cogs:before {
	content: "\e629";
}
.icon-cog:before {
	content: "\e62a";
}
.icon-home:before {
	content: "\e62b";
}
.icon-envelope-alt:before {
	content: "\e62c";
}
.icon-heart2:before {
	content: "\e62d";
}
.icon-heart3:before {
	content: "\e62e";
}
.icon-clipboard:before {
	content: "\e62f";
}
.icon-printer:before {
	content: "\e630";
}
.icon-paper-plane:before {
	content: "\e631";
}
.icon-info:before {
	content: "\e632";
}
.icon-address-book:before {
	content: "\e633";
}
.icon-address-book2:before {
	content: "\e634";
}
.icon-safe:before {
	content: "\e635";
}
.icon-presentation:before {
	content: "\e636";
}
.icon-dollar:before {
	content: "\e637";
}
.icon-profile:before {
	content: "\e638";
}
.icon-stats:before {
	content: "\e639";
}
.icon-stats2:before {
	content: "\e63a";
}
.icon-pencil:before {
	content: "\e63b";
}
.icon-edit:before {
	content: "\e63c";
}
.icon-profile2:before {
	content: "\e63d";
}
.icon-profile3:before {
	content: "\e63e";
}
.icon-calculator:before {
	content: "\e63f";
}
.icon-chat:before {
	content: "\e640";
}
.icon-money-bag:before {
	content: "\e641";
}
.icon-chart:before {
	content: "\e642";
}
.icon-cog2:before {
	content: "\e643";
}
.icon-suitcase:before {
	content: "\e644";
}
.icon-pictures:before {
	content: "\e645";
}
.icon-calendar:before {
	content: "\e646";
}
.icon-phone:before {
	content: "\e647";
}
.icon-envelope:before {
	content: "\e648";
}
.icon-home2:before {
	content: "\e649";
}
.icon-email2:before {
	content: "\e64a";
}
.icon-users:before {
	content: "\e64b";
}
.icon-user:before {
	content: "\e64c";
}
.icon-profile4:before {
	content: "\e64d";
}
