.fraction-slider { position:relative; width:100%; height:100%; overflow:visible; }
.fraction-slider .slide { display:none; width:100%; height:100%; position:absolute; z-index:50; }
.fraction-slider .active-slide { z-index:99; }
.fraction-slider .fs_obj { display:block; display:none; position:absolute; top:0px; left:100%; z-index:70; }
.fraction-slider .fs_fixed_obj { z-index:60; left:0; }
.fraction-slider .fs_obj * { display:inline-block; position:relative; top:0px; left:0px; }
.fs_loader { width:100%; height:400px; background:url(img/fs.spinner.gif) center center no-repeat transparent; }
/** CONTROLS **/

.fraction-slider .prev, .fraction-slider .next { display:none; position:absolute; width:30px; height:50px; z-index:99; }
.fraction-slider .prev { left:0; top:45%; background:url(img/fs.prev.png) 0px 0px no-repeat transparent; }
 .fraction-slider .next { right:0; top:185px; background:url(img/fs.next.png) 0px 0px no-repeat transparent; }
 .fraction-slider:hover .prev, .fraction-slider:hover .next { display:block; }
/** PAGER **/

.fs-pager-wrapper { position:absolute; left:10px; bottom:10px; z-index:99; }
.fs-pager-wrapper a { display:inline-block; width:14px; height:14px; margin:0 5px 0 0; background:url(img/fs.pager.png) 0px -14px no-repeat transparent; }
.fs-pager-wrapper .active { background:url(img/fs.pager.png) 0px 0px no-repeat transparent; }
