/*	-------------------------------------------------------------
        Project Name      FekraShop
        - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        .version        1.0
        .css               drpxdev@gmail.com
        ------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
* { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
a { color: #292828; text-decoration: none; outline: none; }
a:hover { text-decoration: none; }
img { border: none; }
a:focus { outline: 1px dotted invert }
hr { border: 0 #E8E8E8 solid; border-top-width: 1px; clear: both; height: 0; margin:15px 0 }
h1, h2, h3, h4, h5, h6 { font-weight:400; color:#292828; }
h1 { font-size: 34px; }
h2 { font-size: 30px }
h3 { font-size: 24px }
h4 { font-size: 20px }
h5 { font-size: 18px }
h6 { font-size: 14px }
p { font-size: 14px; color: #333; line-height:20px; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-family:Arial, Helvetica, sans-serif; font-size: 12px; color:#333; background:#fff; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button { overflow: visible; background: none; border: none; cursor: pointer; }
input:focus, textarea:focus, select:focus { outline:none }
.clearfix:before, .clearfix:after { content:" "; display:table; }
.clearfix:after { clear:both; }
.center-block { display:block; margin-left:auto; margin-right:auto; }
.pull-right { float:right }
.pull-left { float:left }
.invisible { visibility:hidden; }
.text-hide { color:transparent; text-shadow:none; background-color:transparent; border:0; }
.circle-img { border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%; }
.full-img { margin:-40px -38px 30px; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }
.clear { font-size: 1%; clear: both; height: 1%; }
.left { float: left; display: inline; }
.right { float: right; display: inline; }
.wrap { position: relative; width:940px; margin: 0 auto; }
.shape { color:#787878 }
.highlight { color:#f9d235 }
.highlight-b { color:#8cc832 }
.gray-box { background:#f3f3f3; padding:15px; }
/*custom fonts*/
.font-a, .btn { font-family: 'Lato', sans-serif; }
/*transition*/
.transition, .nav ul li a, .thumb-left, .social-ico a, .recent-issues a, .sp-list li, .sp-img img { -webkit-transition:all 0.25s ease; -moz-transition:all 0.25s ease; transition:all 0.25s ease }
.header { position:relative; }
.logo { padding:25px 0 }
.top-bar { background:#f3f3f3; position:absolute; right:0; top:0; }
.top-bar ul { list-style:none; }
.top-bar > ul > li { display:inline-block; position:relative; float:left }
.top-bar li.language { background:#e3e3e3; padding:8px; }
.top-bar li a { font-size:12px; padding:0 10px; font-family:Tahoma, Geneva, sans-serif }
.top-bar .dropmenu { background-color: #FFFFFF; border-color: #CCCCCC; border-style: solid; border-width: 0 1px 1px; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); position: absolute; top: 44px; width: 180px; z-index: 50; display: none; left:0; }
.top-bar .dropmenu li { display:block; padding:0 }
.top-bar .top-avatar { background: none repeat scroll 0 0 #FFFFFF; border: 2px solid #FFFFFF; border-radius: 50%; display: inline-block; height: 34px; margin: -13px 8px -8px 0; vertical-align: middle; width: 34px; }
.top-bar .dropmenu li { display:block; float:none }
.top-bar .dropmenu a { display: block; line-height: 15px; padding: 10px 15px; transition: all 0.15s linear 0s; text-align:center }
.top-bar .dropmenu a:hover { background: #F3F3F3; text-decoration: none; }
.social-bar { position:absolute; right:0; bottom:10px; }
.social-bar ul { list-style:none; }
.social-bar li { display:inline-block; padding:0 2px; }
/*top nav*/
.top-nav { background:#292828; border-radius:5px; margin-bottom:-25px; z-index:50; position:relative; }
.top-nav ul { list-style:none; overflow:hidden; margin:0 }
.top-nav ul li { border-left: 1px solid #404040; border-right: 1px solid #1E1E1E; display: inline; float: left; }
.top-nav ul li:first-child { border-left:none }
.top-nav ul li:last-child { border-right:none }
.top-nav ul li a { color: #FFF; display: block; font-size: 16px; font-weight: 400; line-height: 50px; padding: 0 15px; text-shadow: 0 -2px 0 #1B1A1A; }
.top-nav ul li a:hover { color:#f9d235; }
.nav-sep { line-height: 50px; display: block; vertical-align: middle; }
.fekra-head { margin-bottom:15px; }
/*banners*/
.banners { background:#f9d235; height:425px }
.banners *, .banners *:before, .banners *:after { -webkit-box-sizing:content-box!important; -moz-box-sizing:content-box!important; box-sizing:content-box!important; }
.slider { height:405px; overflow:hidden; display:block!important }
.fekra-tabs { background:#fff; padding:25px; }
/*filters*/
.home-filters { background:#fff; }
.find-box { padding:15px 17px 15px 110px; position:relative; height:155px; }
.find-box.active { background:#f8f8f8 }
.find-box-img { left:5px; position: absolute; top: 35px;width:100px; }
.find-box h3 span { font-weight:700 }
.find-box .dropdown { width:270px; padding:5px 15px; font-size:22px; }
.find-box .dropdown span { font-size:16px; }
.searchselect { margin:15px 0 10px; }
.dropdown, .dropdown div, .dropdown li, .dropdown div::after {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.dropdown .selected::after, .dropdown.scrollable div::after {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}
.dropdown { position: relative; width: 160px; border: 3px solid #dcdcdc; cursor: pointer; background: #fff; border-radius: 3px; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.dropdown.open { z-index: 2; }
.dropdown .carat { position: absolute; right: 12px; top: 50%; margin-top: -4px; border: 6px solid transparent; border-top: 8px solid #000; }
.dropdown.open .carat { margin-top: -10px; border-top: 6px solid transparent; border-bottom: 8px solid #000; }
.dropdown.disabled .carat { border-top-color: #999; }
.dropdown .old { position: absolute; left: 0; top: 0; height: 0; width: 0; overflow: hidden; }
.dropdown select { position: absolute; left: 0px; top: 0px; }
.dropdown.touch .old { width: 100%; height: 100%; }
.dropdown.touch select { width: 100%; height: 100%; opacity: 0; }
.dropdown .selected, .dropdown li { display: block; font-size: 18px; line-height: 1; color: #000; padding: 9px 12px; overflow: hidden; white-space: nowrap; }
.dropdown.disabled .selected { color: #999; }
.dropdown .selected::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    border-radius: 0 2px 2px 0;
}
.dropdown div { position: absolute; height: 0; left: -1px; right: -1px; top: 100%; margin-top: -1px; background: #fff; border: 3px solid #DCDCDC; border-top: 1px solid #eee; border-radius: 0 0 3px 3px; overflow: hidden; opacity: 0; }
.dropdown.open div { opacity: 1; z-index: 2; }
.dropdown.scrollable div::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    box-shadow: inset 0 -50px 30px -35px #fff;
}
.dropdown.scrollable.bottom div::after {
    opacity: 0;
}
.dropdown ul { position: absolute; left: 0; top: 0; height: 100%; width: 100%; list-style: none; overflow: hidden; }
.dropdown.scrollable.open ul { overflow-y: auto; }
.dropdown li { list-style: none; padding: 8px 12px; }
.dropdown li.focus { background: #f9d235; position: relative; z-index: 3; color: #fff; }
.dropdown li.active { font-weight: 700; }
/*layout boxs*/
.content-box { width:670px; float:right; padding:20px; background:#fff; box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); min-height:700px }
.side-box { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); float: left; min-height: 700px; padding: 15px; width: 235px; }
.side-box .btn-default { width:150px; }
.account-box { width:230px; float:left; min-height:600px; }
/*fekra*/
.fekra-box { border:1px solid #DCDCDC; background:#fff; margin-bottom: 30px; padding: 15px; overflow:hidden; position:relative; }
.fekra-box-content .btn { margin-bottom:0 }
.fekra-box h3 { font-weight:400 }
.fekra-box .fekra-thumb { float:left; padding:0 30px 15px 0 }
/*quick-filters*/
.quick-filters { margin-bottom:15px; overflow:hidden; }
.quick-filters ul { list-style:none; }
.quick-filters li { display:inline; float:left; padding-right:8px; }
.quick-filters a { display:inline-block; background:#d8d8d8; padding:6px; font-size:12px; font-weight:600 }
.quick-filters a:hover { background:#cbcbcb }
.quick-filters a > span { 
    background: #292828; color: #FFF; display: block; float: right; font-family: tahoma; font-size: 10px; height: 13px; line-height: 10px; margin-left: 5px; padding: 0px; text-align: center; width: 11px; border-radius:3px; }
/*welcome box*/
.welcome-box { overflow:hidden; }
.welcome-box h4 { margin-bottom:15px }
.welcome-box p { padding:10px }
.thumb-left { border:10px solid #fff; margin:10px 25px 10px 0 }
.thumb-left:hover { border:10px solid #f9d235; }

.featured-partners { overflow:hidden; padding-bottom:35px; margin-bottom:8px }
.featured-partners ul { list-style:none; width:980px; margin-top:15px; overflow:hidden; }
.featured-partners li a { background:#FFF; border-radius: 5px; display: block; padding: 15px 12px; float:left; margin-right:15px}

.featured-idea { padding:30px 0; background:#fff; }
.recent-issues { margin-bottom:10px; font-size:16px }
.recent-issues span { padding:0 4px; }
.recent-issues a, .recent-issues span { color:#a5a4a4 }
.recent-issues a:hover, .recent-issues a.active { color:#333 }
.featured-idea-wrap { overflow:hidden; position:relative; }
.featured-carousel { width:950px; margin:0 auto }
.partners-slider { width:950px; margin:0 auto }
.featured-carousel ul { list-style:none; overflow:hidden; }
.featured-carousel ul li { float:left; display:inline; margin:5px; position:relative; }
.featured-carousel ul li span { background: #F9D235; display: block; font-size: 14px; margin: 3px 0; padding: 5px; text-align: center; }
.featured-carousel ul li a { display:block }
.featured-idea-wrap .prev { display:block; cursor: pointer; height: 27px; position: absolute; text-indent: -90000px; top: 50%; left:20px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); width: 27px; z-index: 2000; border: 4px solid #6d6d6d; border-right: none; border-top: none; -webkit-font-smoothing: subpixel-antialiased; text-indent:-99999em; margin-top:-20px; }
.featured-idea-wrap .next { display:block; cursor: pointer; height: 27px; position: absolute; text-indent: -90000px; top: 50%; right:20px; transform: rotate(-130deg); -webkit-transform: rotate(-130deg); -moz-transform: rotate(-130deg); width: 27px; z-index: 2000; border: 4px solid #6d6d6d; border-right: none; border-top: none; -webkit-font-smoothing: subpixel-antialiased; text-indent:-99999em; margin-top:-20px; }
.featured-idea-wrap .sprev { display:block; cursor: pointer; height: 27px; position: absolute; text-indent: -90000px; top: 50%; left:20px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); width: 27px; z-index: 2000; border: 4px solid #6d6d6d; border-right: none; border-top: none; -webkit-font-smoothing: subpixel-antialiased; text-indent:-99999em; margin-top:-20px; }
.featured-idea-wrap .snext { display:block; cursor: pointer; height: 27px; position: absolute; text-indent: -90000px; top: 50%; right:20px; transform: rotate(-130deg); -webkit-transform: rotate(-130deg); -moz-transform: rotate(-130deg); width: 27px; z-index: 2000; border: 4px solid #6d6d6d; border-right: none; border-top: none; -webkit-font-smoothing: subpixel-antialiased; text-indent:-99999em; margin-top:-20px; }
.heading { background:#F9D235; padding:15px 0; }
.heading h1 { color: #FFF; font-size: 48px; font-weight: 100; padding: 10px 0 0; }
.heading h4 { color: #FFF; font-weight: 700; font-size:18px; }
.widget { background: none repeat scroll 0 0 #F8F8F8; box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); }
.widget-head { background:#F9D235; }
/*forms*/
.default-forms { margin:15px 0 }
.form-section { background: none repeat scroll 0 0 #F3F3F3; font-size: 17px; font-weight: 700; margin: 10px 0; padding: 10px 15px; }
.form .input { margin:10px 0; position:relative }
.form .text input, .form .textarea textarea, .form .select select, .form .password input[type=password] { border: 1px solid #DCDCDC; border-radius: 2px; font-size: 14px; padding: 6px; width: 280px; color:#333 }
.form .select select { width: 300px; }
.form .text label, .form .textarea label, .form .password label, .form .file label, .form .radio label { font-size: 15px; left: 15px; position: absolute; top: 0; }
.form .star { color:#ff0101; font-size:18px; padding:0 3px }
.form .textarea textarea { width:415px; height:110px; resize:none }
.form label { display:block; padding:2px 0 4px; }
.form .checkbox label { display:inline; padding:0 5px; }
.form .radio label { display:inline; padding:0 5px 0 0; }
.form .radio input { margin-right:5px; }
.filters-form .select select { width:200px; }
.filters-form .input input { width:186px; }
.filters-form .slider-range { width: 195px; }
.default-forms .input { }
form.default-forms .select label, form.default-forms .input label { font-size: 15px; left:auto; line-height: 32px; display:block; position:relative; font-size:12px; line-height:normal; margin:0 }
.contact-form h3 { padding:5px 0 }
.contact-page { padding:15px 0 }
.map { box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); padding: 5px; position:relative; overflow:hidden }
.contact-page .contact-box { background:#f3f3f3; padding: 25px; margin-top:15px }
.contact-page .contact-box .left { padding:15px; width:27%; }
.sub-heading { margin:0; margin-bottom:10px; }
.sub-heading span { font-size:60% }
/*news*/
.news-box { padding:15px 0; margin-bottom:15px }
.news-box h3 { font-weight:700 }
.meta { font-size:14px; padding:5px 0; margin-bottom:10px }
/*faq-answer*/
.faq-box { padding:5px 0 }
.faq-question { background: none repeat scroll 0 0 #D8D8D8; border-radius: 5px 5px 5px 5px; font-size: 20px; font-weight: 700; padding: 10px; }
.faq-answer { margin: 10px 0; padding: 15px; display:none }
/*footer*/
.footer { padding:35px 0; background:#292828; color:#fff; }
.footer-link { width:33%; float:left }
.footer-link h3 { color: #fff; font-size: 18px; font-weight: 700; margin-bottom:40px }
.footer-link p { color:#b7c4ce; }
.line-divider { height:4px; width:50px; background:#fff; display:block; margin:10px 0 }
.contact-box { background:url(img/contact_map.png) no-repeat center }
.contact-box p { padding-left:40px; padding-bottom:30px; position: relative; }
.contact-box p span { float: left; left: 0; position: absolute; top: 3px; font-size:20px }
.contact-box span.icon-phone { font-size:30px; left:-5px }
.social-ico { margin:10px 0 }
.social-ico a { background:url(img/social/social.png) no-repeat; height:28px; width:32px; text-indent:-99999em; font-size:1%; display:block; float:left; margin:5px; }
.social-ico .twitter-ico { background-position:0 0 }
.social-ico .fb-ico { background-position:-40px 0px }
.social-ico .plus-ico { background-position:-77px 0px }
.social-ico .in-ico { background-position:-117px 0px }
.social-ico a:hover.twitter-ico { background-position:0 -28px }
.social-ico a:hover.fb-ico { background-position:-40px -28px }
.social-ico a:hover.plus-ico { background-position:-77px -28px }
.social-ico a:hover.in-ico { background-position:-117px -28px }
.social-login { margin-top:20px; }
.social-btn { border-radius: 5px 5px 5px 5px; color: #FFFFFF; display: block; font-size: 15px; font-weight: 600; margin: 10px 0; padding: 10px 15px; }
.fb-btn { background:#4862a3; }
.tw-btn { background:#00c5f9; }
.in-btn { background:#0077b5; }
.fb-btn-ico { width:26px; height:26px; margin:0 5px; display:inline-block; text-indent:-99999em; vertical-align:middle; background:url(img/icons/fb-ico.png) no-repeat; }
.tw-btn-ico { width:32px; height:21px; margin:0 5px; display:inline-block; text-indent:-99999em; vertical-align:middle; background:url(img/icons/tw-ico.png) no-repeat; }
.in-btn-ico { width:26px; height:26px; margin:0 5px; display:inline-block; text-indent:-99999em; vertical-align:middle; background:url(img/icons/in-ico.png) no-repeat; }
.place-ico { width:20px; height:27px; margin:0 5px; display:inline-block; text-indent:-99999em; vertical-align:middle; background:url(img/icons/place.png) no-repeat; }
.user-place { font-size: 18px; font-weight: 300; margin-left: 20px; }
.newsletters-form { padding:10px 0 }
.newsletters-form input { border: medium none; color: #888; font-size: 12px; padding: 10px; width: 185px; font-family:Tahoma, Geneva, sans-serif }
.newsletters-form button { background:#F9D235; color: #fff; font-size: 14px; font-weight: 700; height: 35px; margin-left: 10px; padding: 4px 15px; text-align: center; }
/*popup*/
.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #000; background: rgba(0, 0, 0, .8); z-index: 100; display: none; top: 0; left: 0; }
.reveal-modal { visibility: hidden; top: 100px; left: 50%; margin-left: -310px; width: 620px; background: #fff; position: absolute; z-index: 999999; padding: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
.reveal-modal.small { width: 200px; margin-left: -140px; }
.reveal-modal.medium { width: 400px; margin-left: -240px; }
.reveal-modal.large { width: 600px; margin-left: -340px; }
.reveal-modal.xlarge { width: 800px; margin-left: -440px; }
.reveal-modal .close-reveal-modal { font-size: 22px; line-height: .5; position: absolute; top:13px; right: 11px; color: #aaa; text-shadow: 0 -1px 1px rbga(0, 0, 0, .6); font-weight: bold; cursor: pointer; }
#register, #login { background:#fff url(img/modal-bg.png) repeat-y right }
.sp-list { list-style:none; margin:10px 0 }
.sp-list li { background: #F3F3F3; border: 1px solid #DCDCDC; display: inline; float: left; margin: 120px 8px 20px; padding: 30px 0px 25px; position: relative; text-align: center; width:180px; }
.sp-list li .sp-img { margin-bottom: 30px; margin-top: -70%; height:180px; width:180px; }
.sp-img img { border: 10px solid rgba(0, 0, 0, 0.2); border-radius: 50%; width:160px; }
.sp-list li h5 { padding:3px 0; }
.sp-list li h5 { font-weight:700 }
.sp-list li h6 { font-size:13px; }
.sp-list .btn { margin-bottom:0 }
.sp-list li:hover { position: relative; transform: scale(1.05, 1.05); }
.sp-list li:hover img { border: 10px solid rgba(0, 0, 0, 0.4); }
/*login popup*/
.extra-actions { width: 240px; }
.extra-actions h6 { margin:10px 0; font-weight:600 }
/*fekra-page*/
.fekra-intro { background:#fff; padding:20px; border-radius:10px; margin-bottom:30px; }
.featured-img { float:left }
.featured-img img { border:5px solid #fff; }
.fekra-stat { padding:0 30px; overflow:hidden; }
.fekra-stat h4 { font-weight:400; font-size:36px; padding:10px 0; display:block }
.fekra-stat h4 span { font-weight:100; font-size:20px; display:block; color:#939393; }
/*.tabs-header { position:relative; margin-bottom:-2px; margin-left:-1px; }
.tabs-header ul { list-style:none; overflow:hidden; }
.tabs-header ul li { display:inline; float:left; padding:0 1px; }
.tabs-header ul li a { display:block; padding:10px 15px; border:2px solid #dcdcdc; font-weight:600; border-radius:5px 5px 0 0; background:#fff; }
.tabs-header ul li.active a { border-bottom:2px solid #fff }
.tabs-contents { display:block; padding:30px 30px; border:2px solid #dcdcdc; background:#fff }
.tabs-contents img { max-width:100%; text-align:center; margin:10px; }*/
/*forms*/
.form .select label { font-size:18px; }
/*Members*/
.members-nav h3 { text-align:center; padding:10px 0; margin:0 }
.members-nav ul { list-style:none; background:#fff; }
.members-nav ul li { margin:5px 0 }
.members-nav li a { display: block; font-size: 16px; font-weight: 600; margin-bottom: 1px; padding: 8px 10px; }
.members-nav li a .fa-lg { margin-right: 10px; margin-left:10px }
.members-nav li a:hover, .members-nav li.active a { background:#F9D235; color:#fff; }
.members-nav .sub-nav a { font-size: 12px; padding: 2px 0 2px 52px; }
.members-nav .sub-nav a span { font-size:20px }
.profile-username { background: #292828; color:#FFF; height: 40px; padding-left: 19px; }
.profile-username a { color: #FFF; float: left; font-size: 20px; font-weight: bold; line-height: 40px; }
.profile-header { padding: 19px 20px 20px; background:#F3F3F3; position: relative; margin-bottom:15px; }
.profile-image { border-right:1px solid #E5E5E5; float:left; width:155px; }
.profile-image img { border: 10px solid #fff; border-radius: 50%; max-width:120px; width:120px; height:120px; background:#fff; margin-right:10px; }
.user-stats { float:right; width: 220px; }
.user-stats ul { margin-bottom:10px; list-style:none; }
.user-stats li { border-bottom: 1px solid #E5E5E5; line-height: 27px; }
.user-stats .header-link-color { color: #1769FF; }
.tiny-text { font-size:11px; }
.profile-info { float: left; padding: 0 30px; width: 215px; }
.profile-info h3 { font-size:18px; font-family:Tahoma, Geneva, sans-serif }
.profile-social { list-style:none; padding:5px 0; }
.profile-social li { display:inline; float:left; padding:0 2px; }
.profile-social li a {
    border-radius: 3px 3px 3px 3px; color: #292828; display: block; height: 27px; padding: 5px; text-align: center; width: 28px; }
.profile-social li a .st-ico { display: block; font-size: 23px; line-height: 30px; margin: 0; }
.sections { border-bottom: 1px solid #E5E5E5; margin: 20px 0; overflow: hidden; padding: 20px 0; }
.sections h3 { float:left; width:170px; text-align:right; padding:10px 20px; font-size:18px }
.section-details ul { margin:0 0; list-style:none; }
.list-wp { padding:10px; background:#f8f8f8; margin-bottom:15px }
.btn-small { font-size: 13px; line-height: 17px; padding: 5px 15px; }
.btns-bar { margin:15px 0 }
/*Categories*/
.cats-list { list-style:none; }
.list-cat { padding:10px; background:#f8f8f8; margin-bottom:15px; margin-right: 10px; width:45%; float:left }
input.form-error { border:1px solid #F00 }
div.error-message { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7); border: 1px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); color: #FFFFFF; display: block; font-size: 11px; padding: 4px 10px; position: absolute; z-index:100 }
div.error-message:after { border-bottom: 6px solid rgba(0, 0, 0, 0.7); border-left: 6px solid transparent; border-right: 7px solid transparent; content: ""; display: inline-block; margin-left: -5px; position: absolute; right: 50%; top: -7px; }
#rateMessage, #flashMessage, .flashMessage, #AdminLoginMessage { display:block; clear:both; margin-bottom:15px; padding:10px 10px 10px 40px; min-height:20px; font-family:Arial, Tahoma, sans-serif; font-size:12px; font-weight:normal; line-height:20px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; -moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; -webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; -o-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5) inset; margin:15px 0; }
.fail, .Errormessage { border:1px solid #dc4e4d; color:#b52525; background: url(../img/admin/error.png) no-repeat 15px 14px #ffbfbf; }
.success, .Sucmessage { border:1px solid #accc5d; color:#70892b; background: url(../img/admin/succ.png) no-repeat 15px 14px #ecfebe; }
.info, .Notemessage { border:1px solid #e9c95f; color:#ae8500; background: url(../img/admin/info.png) no-repeat 15px 14px #f9e08f; }
.pop-succsess { background:url(img/succ.png) no-repeat left 5px; color: #3D9B06; font-size: 18px; padding: 17px 5px 15px 55px; line-height:20px; }
.pop-fail { background:url(img/fail.png) no-repeat left 5px; color: #be0000; font-size: 18px; padding: 17px 5px 15px 55px; line-height:20px; }
.url-div { padding-right: 10px; margin:8px 0; position: relative; background:#f8f8f8; padding:10px; }
.url-div .textarea textarea { width: 280px; }
.delete-section2 { position: absolute; top:0; right:0; padding:5px; left:auto }
#Options { border: 1px dotted #999999; margin:4px 8px; }
.inline-labeles label { display: inline-block; }
/* ajax loader*/
.loading_bar_1 { height: 40px; width: 40px; height: 100%; width: 100%; margin: -20px; background: transparent url(img/301.png) no-repeat 50% 50%; }
.pull-right { float: right; }
.pull-left { float: left; }
.media, .media-body { overflow: hidden; *overflow: visible;
                      zoom: 1; }
.media, .media .media { margin-top: 15px; }
.media:first-child { margin-top: 0; }
.media-object { display: block; }
.media-heading { margin: 0 0 5px; }
.media > .pull-left { margin-right: 10px; }
.media > .pull-right { margin-left: 10px; }
.media-list { margin-left: 0; list-style: none; }
.comment-item { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ddd }
.table { width:100%; border:1px solid #ddd; border-collapse:collapse }
.table th, .table td { padding:5px 10px; }
.table th { background:#F9D235; color:#333; border:1px solid #fff; padding:8px 10px }
.rating { margin:5px 25px; }
/*Newsletters*/
.validate-email-error, .validate-email-succ, .form-loader { font-size: 12px; font-weight: 700; padding: 2px 0 2px 25px; }
.validate-email-succ { background: url("img/tick.png") no-repeat scroll left 4px rgba(0, 0, 0, 0); color: #8FA753; }
.validate-email-error { background: url("img/error.png") no-repeat scroll left 2px rgba(0, 0, 0, 0); color: #C82100; }
.form-loader { background: url("img/loader.gif") no-repeat scroll left 2px rgba(0, 0, 0, 0); color: #FFFFFF; padding: 3px 0 2px 25px; }
.default-forms .file { margin-bottom:20px }
.bootstrap-filestyle { width:300px; display:block; }
.bootstrap-filestyle .form-control { display: inline-block; margin: 10px 0; width: 300px; }
.bootstrap-filestyle .control-label { display:block }
/*members area*/
.content { padding:20px 0 }
.main { background:#f8f8f8 }
.dashboard { background:#fff; }
.tab-pane { padding:20px 0 }
/*messages*/
.messages { padding:15px; }
.message-row { border-bottom:1px solid #ddd; padding:5px 0; }
.message-row .icon-envelope { color: #888888; font-size: 31px; }
.message-row .sent-date { font-size:11px }
.message-body { border-top:1px solid #ddd; padding:15px 15px }
.message-head { padding:20px 10px }
.message-head .btn-shape { margin:3px; padding:7px }
.message-reply { background: none repeat scroll 0 0 #F3F3F3; border-top: 4px solid #DDDDDD; margin-top: 25px; padding: 25px; }
.message-reply label { display:block; font-size:16px; }
.message-reply textarea { border: 1px solid #DDDDDD; border-radius: 8px; display: block; height: 100px; margin: 10px 0; padding: 10px; width: 100%; }
.paging { text-align:center; padding:10px; }
.paging ul { list-style:none; }
.paging ul li { display:inline; padding:7px; border:1px solid #DCDCDC; margin:0 2px; }
.paging ul li:hover { background:#f8f8f8; }
.paging ul li a { display:inline-block }
.paging ul li.current { background:#444; color:#FFF }
.fekra-list .thumb { width:190px; }
.thumb-box .thumb-front, .thumb-box .thumb-back { background:#333; color:#fff; }
.thumb-inner { padding:10px; color:#fff; }
.thumb-inner h3 { font-size:16px; color:#fff; font-weight:700 }
.thumb-inner p { font-size:12px; color:#fff }
.thumb img, .thumb .thumb-detail { outline:1px solid transparent }
.thumb { display:block; width:190px; height:160px; position:relative; float:left; margin: 15px 0 }
.thumb-wrapper { display:block; width:190px; height:160px; }
.thumb .thumb-detail { display:block; width:190px; height:160px; }
.thumb-wrp { position:relative; }
.thumb-wrp > div.lower, .thumb-wrp > div.upper { position:absolute; left:0; top:0; width:190px; height:160px; -webkit-transition:1s ease-in-out; -moz-transition:1s ease-in-out; transition:1s ease-in-out; box-shadow:2px 0 8px rgba(0, 0, 0, 0.2) }
.thumb-wrp > div.lower { -moz-backface-visibility:hidden; -webkit-backface-visibility:hidden; backface-visibility:hidden; -moz-transform:perspective(800px) rotateY(180deg); -webkit-transform:perspective(800px) rotateY(180deg); transform:perspective(800px) rotateY(180deg); }
.thumb-wrp > div.upper { -moz-backface-visibility:hidden; -webkit-backface-visibility:hidden; backface-visibility:hidden; -moz-transform:perspective(800px) rotateY(0deg); -webkit-transform:perspective(800px) rotateY(0deg); transform:perspective(800px) rotateY(0deg); }
.thumb-wrp.flipIt > div.lower { -moz-transform:perspective(800px) rotateY(0); -webkit-transform:perspective(800px) rotateY(0); transform:perspective(800px) rotateY(0); }
.thumb-wrp.flipIt > div.upper { -webkit-transform:perspective(800px) rotateY(-179.9deg); -moz-transform:perspective(800px) rotateY(-179.9deg); transform:perspective(800px) rotateY(-179.9deg); }
/** Without CSS3*/
.thumb.scroll { overflow: hidden; }
.thumb.scroll .thumb-detail { bottom:-280px; }
/** CSS3 Flip */	
.thumb-front { position:absolute; top:0; left:0; }
.support-box .thumb-front, .category-box .thumb-front, .data-box .thumb-front { height: 160px; padding: 0; width: 190px; }
.note-editor .btn-default { background-color: #FFFFFF; border-color: #CCCCCC; color: #333333!important; }
.note-editor .btn-default .caret { border-top-color:#333 }
.slides, .flex-direction-nav { list-style:none }
.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next { position:absolute; width:30px; height:50px; z-index:99; text-indent:-9999999em }
.flex-direction-nav .flex-prev { left:-35px; top:45%; background:url(img/fs.prev.png) 0px 0px no-repeat transparent; }
.flex-direction-nav .flex-next { right:-35px; top:185px; background:url(img/fs.next.png) 0px 0px no-repeat transparent; }
.checkgroup{height:150px;overflow: scroll;border:1px solid #d9d9d9;padding:4px;}
.checkgroup .checkbox input{width: 25px;}
.checkgroup .checkbox label{font-size: 12px;}
.featured-carousel.inner{
    width:auto;
}
.featured-carousel.inner ul li{
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}
.featured-carousel.inner ul li{
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}
.featured-carousel.inner ul li span{
    margin:0;
}
.Rating{
    float: left;
    margin:0 10px;
}
