<div id="skillform"  class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    
    <img src="<?php echo Router::url('/css/img/ajax-loader.gif')?>" class="ajax-load" />
    
    <div class="form">
        
    </div>

    <div class="clear"></div>


</div> 