.st-ico { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none;   -webkit-font-smoothing: antialiased; font-size:17px; vertical-align:middle; margin-right:4px; }
@font-face {
 font-family: 'icomoon';
 src:url('fonts/icomoon.eot');
 src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),  url('fonts/icomoon.woff') format('woff'),  url('fonts/icomoon.ttf') format('truetype'),  url('fonts/icomoon.svg#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before { font-family: 'icomoon'; content: attr(data-icon); speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-calendar:before { content: "\e000"; }
.icon-calendar-2:before { content: "\e001"; }
.icon-link:before { content: "\e002"; }
.icon-calendar-3:before { content: "\e003"; }
.icon-file:before { content: "\e004"; }
.icon-files:before { content: "\e005"; }
.icon-checkmark:before { content: "\e006"; }
.icon-checkmark-2:before { content: "\e007"; }
.icon-warning:before { content: "\e008"; }
.icon-cog:before { content: "\e009"; }
.icon-plus:before { content: "\e00a"; }
.icon-plus-2:before { content: "\e00b"; }
.icon-minus:before { content: "\e00c"; }
.icon-minus-2:before { content: "\e00d"; }
.icon-cancel:before { content: "\e00e"; }
.icon-cancel-2:before { content: "\e00f"; }
.icon-pictures:before { content: "\e010"; }
.icon-download:before { content: "\e011"; }
.icon-upload:before { content: "\e012"; }
.icon-chart:before { content: "\e013"; }
.icon-chart-2:before { content: "\e014"; }
.icon-chart-3:before { content: "\e015"; }
.icon-chart-4:before { content: "\e016"; }
.icon-chart-5:before { content: "\e017"; }
.icon-chart-6:before { content: "\e018"; }
.icon-location:before { content: "\e019"; }
.icon-cancel-3:before { content: "\e01a"; }
.icon-eye:before { content: "\e01b"; }
.icon-alarm:before { content: "\e01c"; }
.icon-phone:before { content: "\e01d"; }
.icon-trashcan:before { content: "\e01e"; }
.icon-magnifier:before { content: "\e01f"; }
.icon-locked:before { content: "\e020"; }
.icon-unlocked:before { content: "\e021"; }
.icon-grid:before { content: "\e022"; }
.icon-grid-2:before { content: "\e023"; }
.icon-list:before { content: "\e024"; }
.icon-list-2:before { content: "\e025"; }
.icon-chat:before { content: "\e026"; }
.icon-stats:before { content: "\e027"; }
.icon-stats-2:before { content: "\e028"; }
.icon-tools:before { content: "\e029"; }
.icon-edit:before { content: "\e02a"; }
.icon-pencil:before { content: "\e02b"; }
.icon-attachment:before { content: "\e02c"; }
.icon-retweet:before { content: "\e02d"; }
.icon-address-book:before { content: "\e02e"; }
.icon-coins:before { content: "\e02f"; }
.icon-dollar:before { content: "\e030"; }
.icon-dollar-2:before { content: "\e031"; }
.icon-info:before { content: "\e032"; }
.icon-paper-plane:before { content: "\e033"; }
.icon-pop-out:before { content: "\e034"; }
.icon-printer:before { content: "\e035"; }
.icon-heart:before { content: "\e036"; }
.icon-heart-2:before { content: "\e037"; }
.icon-switch:before { content: "\e038"; }
.icon-trash:before { content: "\f014"; }
.icon-twitter-sign:before { content: "\f081"; }
.icon-facebook-sign:before { content: "\f082"; }
.icon-linkedin-sign:before { content: "\f08c"; }
.icon-phone-sign:before { content: "\f098"; }
.icon-shopping-cart:before { content: "\f07a"; }
.icon-chevron-up:before { content: "\f077"; }
.icon-chevron-down:before { content: "\f078"; }
.icon-google-plus-sign:before { content: "\f0d4"; }
.icon-cloud-upload:before { content: "\f0ee"; }
.icon-cloud-download:before { content: "\f0ed"; }
.icon-notebook:before { content: "\e039"; }
.icon-credit:before { content: "\e03a"; }
.icon-cart:before { content: "\e03b"; }
.icon-cart-2:before { content: "\e03c"; }
.icon-coin:before { content: "\e03d"; }
.icon-bell:before { content: "\e03e"; }
.icon-alarm-2:before { content: "\e03f"; }
.icon-alarm-3:before { content: "\e040"; }
.icon-user:before { content: "\e041"; }
.icon-users:before { content: "\e042"; }
.icon-earth:before { content: "\e043"; }
.icon-enter:before { content: "\e044"; }
.icon-exit:before { content: "\e045"; }
.icon-minus-3:before { content: "\e046"; }
.icon-plus-3:before { content: "\e047"; }
.icon-filter:before { content: "\e048"; }
.icon-document-stroke:before { content: "\e049"; }
.icon-thumbs-down:before { content: "\f15c"; }
.icon-file-2:before { content: "\e04a"; }
.icon-file-pdf:before { content: "\e04b"; }
.icon-file-word:before { content: "\e04c"; }
.icon-file-excel:before { content: "\e04d"; }
.icon-file-zip:before { content: "\e04e"; }
.icon-file-powerpoint:before { content: "\e04f"; }
.icon-file-xml:before { content: "\e050"; }
.icon-file-css:before { content: "\e051"; }
.icon-profile:before { content: "\e052"; }
.icon-download-2:before { content: "\e053"; }
.icon-download-3:before { content: "\f01a"; }
.icon-arrow-up:before { content: "\e054"; }
.icon-arrow-up-right:before { content: "\e055"; }
.icon-arrow-right:before { content: "\e056"; }
.icon-arrow-down-right:before { content: "\e057"; }
.icon-arrow-down:before { content: "\e058"; }
.icon-arrow-down-left:before { content: "\e059"; }
.icon-arrow-left:before { content: "\e05a"; }
.icon-arrow-up-left:before { content: "\e05b"; }
.icon-paypal:before { content: "\e05c"; }
.icon-envelope:before { content: "\e05d"; }
.icon-tag:before { content: "\e05e"; }
.icon-tags:before { content: "\f02c"; }
.icon-tag-2:before { content: "\f02b"; }
.icon-thumbs-up:before { content: "\e05f"; }
.icon-thumbs-up-2:before { content: "\e060"; }
.icon-cloud-download-2:before { content: "\e061"; }
.icon-cloud-upload-2:before { content: "\e062"; }
.icon-tree:before { content: "\e063"; }
.icon-home:before { content: "\f015"; }
.icon-folder-open:before { content: "\e065"; }
.icon-drawer:before { content: "\e064"; }
.icon-drawer-2:before { content: "\e066"; }
.icon-refresh:before { content: "\f021"; }
.icon-refresh-2:before { content: "\e067"; }
.icon-key:before { content: "\e068"; }
.icon-number:before { content: "\e069"; }
.icon-number-2:before { content: "\e06a"; }
.icon-number-3:before { content: "\e06b"; }
.icon-number-4:before { content: "\e06c"; }
.icon-number-5:before { content: "\e06d"; }
.icon-number-6:before { content: "\e06e"; }
.icon-number-7:before { content: "\e06f"; }
.icon-number-8:before { content: "\e070"; }
.icon-number-9:before { content: "\e071"; }
.icon-number-10:before { content: "\e072"; }
.icon-brush:before { content: "\e073"; }
.icon-profile-2:before { content: "\e074"; }
.icon-blocked:before { content: "\e075"; }
.icon-link-2:before { content: "\f0c1"; }
.icon-caret-up:before { content: "\f0d8"; }
.icon-caret-down:before { content: "\f0d7"; }
.icon-sort:before { content: "\f0dc"; }
.icon-sort-down:before { content: "\f0dd"; }
.icon-sort-up:before { content: "\f0de"; }
.icon-caret-right:before { content: "\f0da"; }
.icon-caret-left:before { content: "\f0d9"; }
.icon-angle-down:before { content: "\f107"; }
.icon-angle-up:before { content: "\f106"; }
.icon-angle-right:before { content: "\f105"; }
.icon-angle-left:before { content: "\f104"; }
.icon-briefcase:before { content: "\e076"; }
.icon-suitcase:before { content: "\e077"; }
.icon-wallet:before { content: "\e078"; }
.icon-edit-2:before { content: "\f044"; }
.icon-edit-sign:before { content: "\f14b"; }
.icon-eye-2:before { content: "\e079"; }
.icon-eye-3:before { content: "\e07a"; }
.icon-cross:before { content: "\e07b"; }
.icon-remove-circle:before { content: "\f05c"; }
.icon-trashcan-2:before { content: "\e07c"; }
.icon-remove:before { content: "\e07d"; }
.icon-flag:before { content: "\e07e"; }
.icon-play-sign:before { content: "\f144"; }
.icon-arrow-right-2:before { content: "\e07f"; }
.icon-arrow-left-2:before { content: "\e080"; }
.icon-arrow-down-2:before { content: "\e081"; }
.icon-arrow-up-2:before { content: "\e082"; }
.icon-arrow-right-3:before { content: "\e083"; }
.icon-arrow-left-3:before { content: "\e084"; }
.icon-arrow-down-3:before { content: "\e085"; }
.icon-arrow-up-3:before { content: "\e086"; }
.icon-untitled:before { content: "\e087"; }
.icon-arrow-left-4:before { content: "\e088"; }
.icon-arrow-down-4:before { content: "\e089"; }
.icon-arrow-up-4:before { content: "\e08a"; }
.icon-pencil-2:before { content: "\e08b"; }
.icon-safe:before { content: "\e08c"; }
.icon-money-bag:before { content: "\e08d"; }
.icon-suitcase-2:before { content: "\e08e"; }
.icon-archive:before { content: "\e08f"; }
.icon-clipboard:before { content: "\e090"; }
.icon-clipboard-2:before { content: "\e091"; }
.icon-clipboard-3:before { content: "\e092"; }
.icon-th-large:before { content: "\f009"; }
.icon-th:before { content: "\f00a"; }
.icon-th-list:before { content: "\f00b"; }
.icon-ok:before { content: "\f00c"; }
.icon-remove-2:before { content: "\f00d"; }
.icon-zoom-in:before { content: "\f00e"; }
.icon-zoom-out:before { content: "\f010"; }
.icon-stats-3:before { content: "\e093"; }
.icon-bars:before { content: "\e094"; }
.icon-cog-2:before { content: "\e095"; }
.icon-cogs:before { content: "\f085"; }
.icon-cog-3:before { content: "\f013"; }
.icon-wrench:before { content: "\f0ad"; }
.icon-equalizer:before { content: "\e096"; }
.icon-cogs-2:before { content: "\e097"; }
