<div class="row-fluid">

    <div class="span12">
        <div class="head">
            <h1>
                <?php

            	if(!empty($this->data['Poll']['id'])){

            		__('Edit Poll');

                	}else{

                		__('Add Poll');

                	}
            ?>
            </h1>
            <div class="clear"></div>
        </div>



        <?php echo $form->create('Poll',array('type'=>'file'));?>
        <div class="block-fluid">
            	<?php
		echo $form->input('id');
		echo $form->input('name');
echo 	$form->submit('Submit', array('class' => 'submit-green'));
	?>
        </div>
        <?php echo $form->end();?>
    </div>
</div>

