<div class="row-fluid">

    <div class="span12">
        <div class="head">
            <h1>
                <?php

            	if(!empty($this->data['Admin']['id'])){

            		__('Edit Admin');

                	}else{

                		__('Add Admin');

                	}
            ?>
            </h1>
            <div class="clear"></div>
        </div>



        <?php echo $form->create('Admin',array('type'=>'file'));?>
        <div class="block-fluid">
            	<?php
		echo $form->input('id');
		echo $form->input('username');
		echo $form->input('password');
		echo $form->input('email');
		echo $form->input('publisher');
echo 	$form->submit('Submit', array('class' => 'submit-green'));
	?>
        </div>
        <?php echo $form->end();?>
    </div>
</div>

