
<h2><span><?= __("Dashboard") ?></span></h2>
<div class="module-body">

<!--    <a href="<?php echo Router::url(array('controller' => 'categories', 'action' => 'index', 1)) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/categories.png') ?>" />
        <span><?php __('PagesCategories') ?></span>
    </a>-->
    <a href="<?php echo Router::url(array('controller' => 'pages', 'action' => 'index')) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/articles.png') ?>" />
        <span><?php __('Pages') ?></span>
    </a>
<!--    <a href="<?php echo Router::url(array('controller' => 'categories', 'action' => 'index', 2)) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/books.png') ?>" />
        <span><?php __('BooksCategories') ?></span>
    </a>
    <a href="<?php echo Router::url(array('controller' => 'books', 'action' => 'index')) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/book.png') ?>" />
        <span><?php __('Books') ?></span>
    </a>
    <a href="<?php echo Router::url(array('controller' => 'categories', 'action' => 'index', 3)) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/country.jpg') ?>" width="64" />
        <span><?php __('NewsCategories') ?></span>
    </a>
    <a href="<?php echo Router::url(array('controller' => 'countries', 'action' => 'index')) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/countries.png') ?>" width="64" />
        <span><?php __('Countries') ?></span>
    </a>-->
    <a href="<?php echo Router::url(array('controller' => 'news', 'action' => 'index')) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/news.png') ?>" width="64" />
        <span><?php __('News') ?></span>
    </a>
<!--    <a href="<?php echo Router::url(array('controller' => 'videos', 'action' => 'index')) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/videos.png') ?>" width="64" />
        <span><?php __('Videos') ?></span>
    </a>-->
    <a href="<?php echo Router::url(array('controller' => 'banners', 'action' => 'index')) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/banners.png') ?>" width="64" />
        <span><?php __('Banners') ?></span>
    </a>
<!--    <a href="<?php echo Router::url(array('controller' => 'images', 'action' => 'index')) ?>" class="dashboard-module">
        <img src="<?php echo Router::url('/img/admin/photos.png') ?>" width="64" />
        <span><?php __('Images') ?></span>
    </a>-->

</div>

