<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<?php echo $this->element('user/user_leftmenu'); ?>

<div class="content-box">
  <div class="messages">
    <h3 class="font-a sub-heading"><strong>Messages</strong></h3>
    <div class="row message-row">
      <div class="col-md-1"><span aria-hidden="true" class="fa fa-envelope-o fa-2x"></span></div>
      <div class="col-md-2">
        <p>Mike Tung</p>
        <p class="sent-date">10/13/2013</p>
      </div>
      <div class="col-md-9">
        <p><a href="#"><strong>Diffbot API PHP Client Library</strong></a></p>
        <p class="shape">Hi Mohamed, Our company makes a web API for extracting structured data from...</p>
      </div>
    </div>
    <!-- / message-row -->
    <div class="row message-row">
      <div class="col-md-1"><span aria-hidden="true" class="fa fa-envelope-o fa-2x"></span></div>
      <div class="col-md-2">
        <p>Mike Tung</p>
        <p class="sent-date">10/13/2013</p>
      </div>
      <div class="col-md-9">
        <p><a href="#"><strong>Diffbot API PHP Client Library</strong></a></p>
        <p class="shape">Hi Mohamed, Our company makes a web API for extracting structured data from...</p>
      </div>
    </div>
    <!-- / message-row -->
    <div class="row message-row">
      <div class="col-md-1"><span aria-hidden="true" class="fa fa-envelope-o fa-2x"></span></div>
      <div class="col-md-2">
        <p>Mike Tung</p>
        <p class="sent-date">10/13/2013</p>
      </div>
      <div class="col-md-9">
        <p><a href="#"><strong>Diffbot API PHP Client Library</strong></a></p>
        <p class="shape">Hi Mohamed, Our company makes a web API for extracting structured data from...</p>
      </div>
    </div>
    <!-- / message-row -->
    <div class="row message-row">
      <div class="col-md-1"><span aria-hidden="true" class="fa fa-envelope-o fa-2x"></span></div>
      <div class="col-md-2">
        <p>Mike Tung</p>
        <p class="sent-date">10/13/2013</p>
      </div>
      <div class="col-md-9">
        <p><a href="#"><strong>Diffbot API PHP Client Library</strong></a></p>
        <p class="shape">Hi Mohamed, Our company makes a web API for extracting structured data from...</p>
      </div>
    </div>
    <!-- / message-row -->
    <div class="row message-row">
      <div class="col-md-1"><span aria-hidden="true" class="fa fa-envelope-o fa-2x"></span></div>
      <div class="col-md-2">
        <p>Mike Tung</p>
        <p class="sent-date">10/13/2013</p>
      </div>
      <div class="col-md-9">
        <p><a href="#"><strong>Diffbot API PHP Client Library</strong></a></p>
        <p class="shape">Hi Mohamed, Our company makes a web API for extracting structured data from...</p>
      </div>
    </div>
    <!-- / message-row -->
    
    <div class="row message-row">
      <div class="col-md-1"><span aria-hidden="true" class="fa fa-envelope-o fa-2x"></span></div>
      <div class="col-md-2">
        <p>Mike Tung</p>
        <p class="sent-date">10/13/2013</p>
      </div>
      <div class="col-md-9">
        <p><a href="#"><strong>Diffbot API PHP Client Library</strong></a></p>
        <p class="shape">Hi Mohamed, Our company makes a web API for extracting structured data from...</p>
      </div>
    </div>
    <!-- / message-row -->
    
    <div class="row message-row">
      <div class="col-md-1"><span aria-hidden="true" class="fa fa-envelope-o fa-2x"></span></div>
      <div class="col-md-2">
        <p>Mike Tung</p>
        <p class="sent-date">10/13/2013</p>
      </div>
      <div class="col-md-9">
        <p><a href="#"><strong>Diffbot API PHP Client Library</strong></a></p>
        <p class="shape">Hi Mohamed, Our company makes a web API for extracting structured data from...</p>
      </div>
    </div>
    <!-- / message-row --> 
    
  </div>
  
  <!--/ Messages LIST -->
  
  <div class="message-view">
    <div class="row message-head">
      <div class="col-md-10">
        <h3 class="font-a sub-heading">Reset your Apple ID password</h3>
        <p class="sent-date">10/13/2013</p>
      </div>
      <div class="col-md-2"> <a href="#" class="btn btn-shape"><i class="fa fa-trash-o fa-lg"></i></a> <a href="#" class="btn btn-shape"><i class="fa fa-reply-all fa-lg"></i></a> </div>
    </div>
    <div class="row  message-body">
      <div class="col-md-12">
        <p>Lose away off why half led have near bed. At engage simple father of period others except. My giving do summer of though narrow marked at. Spring formal no county ye waited. My whether cheered at regular it of promise blushes perhaps. Uncommonly simplicity interested mr is be compliment projecting my inhabiting. Gentleman he september in oh excellent. <br />
          <br />
          New the her nor case that lady paid read. Invitation friendship travelling eat everything the out two. Shy you who scarcely expenses debating hastened resolved. Always polite moment on is warmth spirit it to hearts. Downs those still witty an balls so chief so. Moment an little remain no up lively no. Way brought may off our regular country towards adapted cheered.</p>
      </div>
    </div>
    <div class="row message-reply">
      <h3 class="font-a sub-heading">Reply This Messages</h3>
      <div class="col-md-12 ">
        <form action="" method="" class="">
          <div class="input textarea">
            <label>Message</label>
            <textarea></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
