<?php __('Hi') ?> <?php echo $user_data['first_name'] ?>,
<br /><br />
<?php __('Thank you for adding new idea to Fikra Shop') ?>.
<br/>
<?php __('We encourage you to share your idea to your friends in the social media to encourage people who can fund your idea.') ?> 
