<?php __('Hi') ?> <?php echo $user_data['first_name'] ?>,
<br /><br />

<?php __('Thank you for adding new job application to Fikra Shop') ?>.
<br/>
<?php __('Your job application will be sent to all the developers who have matching skills to bid on your job application') ?>. 
