<p>
    <?php __('Hi') ?> <?php echo $user['first_name'] ?>,
</p>
<br />
<br />

<?php
__('Congratulations! Your bid is reviewed and accepted by the customer')
?>
<br />
<p>
    <?php __('For further details, please click on this Link') ?><br />
    <a href="<?php echo Router::url(array('controller' => 'fekra_jobs', 'action' => 'view', $job_app['FekraJob']['id']), true) ?>"><?php echo Router::url(array('controller' => 'fekra_jobs', 'action' => 'view', $job_app['FekraJob']['id']), true) ?></a>
</p>