<?php __('Hi') ?> <?php echo $transaction['Sender']['first_name'] ?>,
<br />
<br />
<p>
    <?php __("Thank you for deposit the payment. Your payment will be released when you change the status of the payment to 'Complete'.") ?>
</p>



